.Start {
    background-color: white;
    color: brown;
    border:none;
}

.Download {
    background-color: white;
    border: none;
    color: crimson;
}

button {
  font-size: 1rem;
  padding: 10px;
  margin: 5px;
}
@media (max-width: 600px) {
  button {
    font-size: 0.8rem;
    padding: 5px;
  }
}
